# Node / JS
node_modules/
dist/
tmp/
.cache/
.nx/
.nyc_output/
coverage/
*.log

# Env / secrets
.env
.env.*
!.env.example

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Angular / Ionic
.angular/
www/

# Build artifacts
*.tsbuildinfo

# Husky
.husky/_

# Generated API clients
libs/shared/src/api-client-axios/
libs/shared/src/api-client-angular/
openapi.json
.openapi-generator/
